@import '../../styles/color';

.tui-table {
    width: 50vw;

    tbody {
        tui-svg {
            cursor: pointer;

            &.edit {
                color:  $primary;
            }

            &.remove {
                color:  $red;
            }
        }
    }
}
